.DS_Store
.ipynb_checkpoints
Manifest.toml
*_2.5*
!*including*_2.5.nc
!*including*_2.5.txt
*_2.75*
!*including*_2.75.nc
!*including*_2.75.txt
*_3.25*
!*including*_3.25.nc
!*including*_3.25.txt
*_3.5*
!*including*_3.5.nc
!*including*_3.5.txt
*_3.0*
!*result_macros_including_230529_3.0.tex
*_2.85*
*_2.95*
*_4.0*
*.gif
*.swp
